# node_modules
# .env
# # các tệp này sẽ không được thêm vào, commit hay push lên repository.
# # Tệp .gitignore trong Git được sử dụng để chỉ định những tệp và thư mục mà bạn không muốn Git theo dõi hoặc đưa vào hệ thống quản lý phiên bản (version control)

node_modules/
client/node_modules/
server/node_modules/
package-lock.json
client/package-lock.json
server/package-lock.json
build/
